<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.warning.WarningNameMapper">
  <resultMap id="BaseResultMap" type="com.entity.warning.WarningName">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <sql id="Base_Column_List">
    id, type, code, name
  </sql>

  <select id="selectByPrimaryKey"
          parameterType="java.lang.Integer"
          resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warning_name
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey"
          parameterType="java.lang.Integer">
    delete from warning_name
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective"
          parameterType="com.entity.warning.WarningName">
    insert into warning_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective"
          parameterType="com.entity.warning.WarningName">
    update warning_name
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findWarningNamePagination"
          parameterType="map"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from warning_name
    where 1=1 and name != ""
    <if test="dto.name !=null and dto.name !='' ">
      and (name like concat('%',#{dto.name,jdbcType=VARCHAR},'%') or code like concat('%',#{name,jdbcType=VARCHAR},'%'))
    </if>
    <if test="dto.type !=null and dto.type !='' ">
      and type = #{dto.type,jdbcType=INTEGER}
    </if>
    <if test="dto.codeList !=null and dto.codeList !='' ">
      and code not in (${dto.codeList})
    </if>
    <if test="dto.id !=null">
      and id = #{dto.id,jdbcType=INTEGER}
    </if>
    limit #{startNum} ,#{pageSize}
  </select>

  <select id="findWarningNameCount"
          parameterType="com.dto.warning.WarningHeaderDTO"
          resultType="java.lang.Integer">
    SELECT count(1) FROM
    warning_name
    WHERE 1=1 and name != ""
    <if test="name !=null and name !='' ">
      and (name like concat('%',#{name,jdbcType=VARCHAR},'%') or code like concat('%',#{name,jdbcType=VARCHAR},'%'))
    </if>
    <if test="type !=null and type !='' ">
      and type = #{type,jdbcType=INTEGER}
    </if>
    <if test="codeList !=null and codeList !='' ">
      and code not in (${codeList})
    </if>
    <if test="id !=null">
      and id = #{id,jdbcType=INTEGER}
    </if>
  </select>

</mapper>